<h1 class="center">Cafe SLC Menu</h1>
<div class="center card light-green">
  <div class="card-content white-text">
    <h3>Add Menu Item</h3>
    <a href="/apps/new" class="btn light-green darken-4">New Food</a>
  </div>
</div>
<div class="center card light-green">
  <div class="card-content white-text">
    <h3>View Food</h3>
    <a href="/apps" class="btn light-green darken-4">All Food</a>
  </div>
</div>
